<div class="col-8 d-flex flex-column flex-fill" >
    <!-- <div class="chat-message" style="overflow-y: scroll; height: 554px;"> -->
    <div class="chat-message flex-fill" style="overflow-y: scroll; height: 70vh">
        <div id="output" class='mr-2'>
            
        </div>
        <div id="feedback"></div>
    </div>
    <div class="row mt-3">
        <div class='fields col-10'>
            <input type="text" class="form-control " id="message" placeholder="Enter message">
        </div>
        <div class="col-2 btn-group special">
            <button type="button" class="btn btn-primary" id="send" onclick="sendMessage()">Send</button>
        </div>
    </div>
</div>