<html>
<head>
    <title>Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
    <script src="/js/createroom.js"></script>


</head>
<body>
  <!-- TOAST NOTIFICATIONS -->
  <div aria-live="polite" aria-atomic="true" style="position: relative;" class="m-3">
  <!-- Position it -->
    <div style="position: absolute; top: 0; right: 0;">

      <!-- JOIN AS BIDDER TOASTS -->

      <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" id="createToast" data-delay=3000>
          <div class="d-flex">
              <div class="toast-body"> Creating auction room... </div>
          </div>
      </div>
      
      <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" id="createErrorToast"  data-delay=10000>
          <div class="d-flex">
              <div class="toast-body"> Something went wrong. Please try again. </div>
          </div>
      </div>
      
      <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" id="createFailToast"  data-delay=10000>
          <div class="d-flex">
            <div class="toast-body"> Sorry! An auction is already ongoing. Please wait until the current session ends before trying again. </div>
          </div>
      </div>
  </div>
</div>

<div class="container d-flex flex-column align-items-center min-vh-100 justify-content-center">
    <h2>Create New Auction Room</h2>

    <form name="createRoomForm" method="get" id="createRoomForm" class="d-flex flex-column align-items-center">
        <div class="card">
            <div class="card-body">
                <input type="hidden" id="fName" name="fName" value="{{fName}}">
                <input type="hidden" id="lName" name="lName" value="{{lName}}">
                <input type="hidden" id="email" name="email" value="{{email}}">

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Item Name</span>
                  </div>
                  <input type="text" class="form-control" id="itemName" placeholder="Item Name" aria-label="Item Name" aria-describedby="basic-addon1">
                </div>
<!--
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Item Photo</span>
                    </div>
                    
                    <div class="custom-file">
                       <input type="file" accept="image/*" name="image"   class="custom-file-input" id="inputGroupFile02" > 
                        <label class="custom-file-label" for="inputGroupFile02">Choose file</label>

                       <input type="file" class="custom-file-input" id="exampleFormControlFile1">

                        <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
                        <p><label for="file" style="cursor: pointer;">Upload Image</label></p>
                        <p><img id="output" width="200" /></p>
                      
                    </div>
                </div>
              -->

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Item <br>Description</span>
                  </div>
                  <textarea class="form-control" aria-label="With textarea" id="itemDesc"></textarea>
                </div>


                <div class="d-flex mb-3">
                    <div class="input-group pr-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Starting</span>
                      </div>
                      <input id="startPrice" type="number" class="form-control" placeholder="Starting Price" aria-label="Starting Price" aria-describedby="basic-addon1" min=1>

                    </div>

                    <div class="input-group">

                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Autobuy</span>
                      </div>
                      <input id="buyPrice" type="number" class="form-control" placeholder="Autobuy Price" aria-label="Autobuy Price" aria-describedby="basic-addon1"  min=1>
                    </div>
                </div>


                <div class="d-flex">
                    <div class="input-group pr-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Max Bidders</span>
                      </div>
                      <input id="maxBidders" type="number" class="form-control" placeholder="Max Bidders" aria-label="Max Bidders" aria-describedby="basic-addon1" value=1 min=1>

                    </div>

                    <div class="input-group ">

                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Bidding Timer</span>
                      </div>
                      <input id="bidTime" type="number" class="form-control" placeholder="Max Bidders" aria-label="Max Bidders" aria-describedby="basic-addon1" value=5 min=5 max=30>
                    </div>
                </div>

                
            </div>
            <center>
              <input type="file"  accept="image/*" name="image" id="file" style="display: none;">
              <label class="btn btn-secondary" for="file" style="cursor: pointer;">Upload Image</label><br>
              <img id="output" width="200" style="margin-bottom: 10px;"/>
            </center>
        </div>

        

        <button type="button" class="btn btn-primary m-2 w-25" id="createBtn" onclick="createRoom()">Create Room</button>
    </form>

    

    


<!--
<div class="filebutton">Send Image<input type="file" id="send_media" onchange="myFunction()" accept="image/*"></div>
-->


</div>


</body>
</html>