<html>
<head>
    <title>Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- JS and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
    <script src="/js/homepage.js"></script>


</head>
<body>

  <!-- TOAST NOTIFICATIONS -->
  <div aria-live="polite" aria-atomic="true" style="position: relative;" class="m-3">
  <!-- Position it -->
    <div style="position: absolute; top: 0; right: 0;">

      <!-- JOIN AS BIDDER TOASTS -->

      <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" id="joinAuctionRoomToast" data-delay=3000>
          <div class="d-flex">
              <div class="toast-body"> Joining auction room... </div>
          </div>
      </div>
      
      <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" id="joinFailToast"  data-delay=10000>
          <div class="d-flex">
              <div class="toast-body"> Sorry! The auction room is full. Please wait for the next auction to start. </div>
          </div>
      </div>
      
      <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" id="createFailToast"  data-delay=10000>
          <div class="d-flex">
            <div class="toast-body"> Sorry! There is already an existing auction. Please wait until the current session ends. </div>
          </div>
      </div>

      <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" id="joinSuccessToast"  data-delay=10000>
          <div class="d-flex">
            <div class="toast-body"> Entering the auction room. You will be redirected shortly. </div>
          </div>
      </div>

      <!-- CREATE AUCTION ROOM TOASTS -->

  </div>
</div>

<div class="container d-flex align-items-center justify-content-center" style="height: 95vh">
    <div class="row align-items-center w-75">
      <div class="col-sm-6">

        <div class="card flex-fill d-flex flex-column justify-content-center" style="height: 75vh">
            <div class="flex-fill with-auction flex-grow-1" style="position: relative; display: none">
                <img class="img-fluid w-100 mh-100" src="/images/placeholder.jpeg" style="object-fit: cover; position: absolute;">
            </div> 
            <div class="d-inline-flex flex-column p-3 with-auction flex-grow-2 justify-content-center">
                <div class="with-auction" style="display: none">
                    <h5 id="itemName"></h5>

                    <p id="itemDescription" class="overflow-auto flex-fill" style="overflow-y: scroll; max-height: 15vh">{{itemDesc}}</p>
                    
                    <p><b>Starting Price:</b> PHP <span id="startingPrice"></span>    <br>
                    <b>Autobuy Price:</b> PHP <span id="autobuyPrice"></span>    <br>
                    <b>Bidding Time:</b> <span id="bidTime"></span> minutes</p>

                    <p class="mb-0"><b>Bidders:</b> <span id="currPeople">0</span>/<span id="maxPeople">{{maxPeople}}</span></p>
                </div>

                <div class="without-auction d-flex flex-column align-items-center">
                    <h5 class="without-auction m-3 auction-message">Checking for auctions...</h5>
                </div>
            </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <form name="loginForm" method="post" id="loginForm">
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="E-mail Address" required>
              </div>

              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="fName" name="fName" placeholder="First Name" required pattern="\s*\S+.*" oninvalid="this.setCustomValidity('Field cannot be empty or whitespace only')" oninput="this.setCustomValidity('')">
                <input type="text" class="form-control" id="lName" name="lName" placeholder="Last Name" required pattern="\s*\S+.*" oninvalid="this.setCustomValidity('Field cannot be empty or whitespace only')" oninput="this.setCustomValidity('')">
              </div>

              <div class="d-flex w-100">
                <button type="button" class="btn btn-primary flex-fill mr-2" id="joinBtn" formaction='/chatroom' disabled>Join as Bidder</button>
                <button type="button" class="btn btn-primary flex-fill" id="createRoomBtn" formaction='/createRoom' disabled>Start an Auction</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

</div>

</body>
</html>